body {
  font-family: Montserrat, sans-serif;
}
.fragments-page {
  padding: 20px;
}

.new-fragment-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

.fragments-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fragment-card {
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.fragment-card:hover {
  background-color: #e0e0e0;
}

.fragment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #121212;
}

.eye-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
}

.code-container {
  position: relative;
  background-color: #272822; /* Foncé */
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  overflow: auto;
  border: 1px solid #444;
}

.code-display {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: transparent;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: auto;
  font-size: 14px;
}

.copy-button {
  margin-top: 10px;
  background-color: #B288C0;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #B288C0;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #f8f8f2;
}

/* Mode sombre / clair */
.dark-mode {
  background-color: #121212;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}
.fr{
  color: #9A48D0; 
}
.button-container {
  display: flex;
  justify-content: flex-end; 
  margin-bottom: 20px; 
}
/* Responsive pour tablettes */
@media (max-width: 768px) {
  .fragments-list {
    flex-direction: column; /* reste en colonne */
  }
  
  .fragment-card {
    width: 100%;      /* bien prendre toute la largeur du conteneur */
    max-width: 100%;  /* éviter les débordements */
  }
  
  .code-container {
    padding: 15px;    /* un peu moins de padding pour plus de place */
  }
}

/* Responsive pour mobiles */
@media (max-width: 480px) {
  .fragments-list {
    flex-direction: column;
  }
  
  .fragment-card {
    width: 100%;
    max-width: 100%;
    padding: 15px;  /* réduire padding pour mobile */
  }
  
  .code-container {
    padding: 10px;  /* réduire padding dans le bloc code */
  }
  
  .copy-button {
    padding: 4px 8px; /* bouton un peu plus petit */
    font-size: 12px;
  }
  
  .new-fragment-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
